RewriteEngine On
RewriteRule ^/?$   index.php   [NC,L]

RewriteRule ^/?([a-z]+)/([a-z]+)/([a-z]+/[a-z]+/\d+)/$ index.php?controller=$1&page=$2&prevPage=$3   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/([a-z]+/[a-z]+/\d+)$ index.php?controller=$1&page=$2&prevPage=$3   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/([a-z]+/[a-z]+)/$ index.php?controller=$1&page=$2&prevPage=$3   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/([a-z]+/[a-z]+)$ index.php?controller=$1&page=$2&prevPage=$3   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/([a-z]+)/$ index.php?controller=$1&page=$2&prevPage=$3   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/([a-z]+)$ index.php?controller=$1&page=$2&prevPage=$3   [NC,L]

RewriteRule ^/?([a-z]+)/([a-z]+)/(\d+)/([a-z]+)/$ index.php?controller=$1&page=$2&one=$3&two=$4   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/(\d+)/([a-z]+)$ index.php?controller=$1&page=$2&one=$3&two=$4   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/([a-z]+)/(\d+)/$ index.php?controller=$1&page=$2&one=$3&two=$4   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/([a-z]+)/(\d+)$ index.php?controller=$1&page=$2&one=$3&two=$4   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/(\d+)/(\d+)/$ index.php?controller=$1&page=$2&one=$3&two=$4   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/(\d+)/(\d+)$ index.php?controller=$1&page=$2&one=$3&two=$4   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/(\d+)/$ index.php?controller=$1&page=$2&one=$3   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)/(\d+)$ index.php?controller=$1&page=$2&one=$3   [NC,L]

RewriteRule ^/?([a-z]+)/([a-z]+)/$ index.php?controller=$1&page=$2   [NC,L]
RewriteRule ^/?([a-z]+)/([a-z]+)$ index.php?controller=$1&page=$2   [NC,L]

RewriteRule ^/?([a-z]+)/$ index.php?controller=$1   [NC,L]
RewriteRule ^/?([a-z]+)$ index.php?controller=$1   [NC,L]